@color: yellowgreen;

.title {
  font-style: italic;
  background-color: @color;
  user-select: none;
}

.img {
  background: url('../img/student_7.jpg');
  width: 200px;
  height: 200px;
  background-size: contain;
}

.pic {
  width: 200px;
  height: 200px;
}

@font-face {
  font-family: 'jiayou';
  src: url(../font/jiayou.ttf);
}

.font {
  font-family: 'jiayou' !important;
  font-size: 40px;
  color: red;
}